body{
    font-family: rubik, Arial, Helvetica, sans-serif;
}
a{
    color: rgb(0, 84, 168);
    text-decoration: none;
}
.float-right{
    float: right;
}
img{
    width: 100%;
}
.w30{
    width: 30%;
}
.main_article{
    width: 45%;
    padding: 30px;
    margin: auto;
    background-color: rgb(232, 233, 231);
}

.table_history{
    border-collapse: collapse;
    width: 75%;
    background-color: rgb(248, 249, 250)
}   

.table_history th,
.table_history td{
    border: 1px solid gray;
    padding: 6px;
}
.table_history th{
    color: rgb(0, 84, 168);
    background-color: rgb(234, 236, 240)
}
